a{
  text-decoration:none;
  color: blue;
}

h1{
  font-size: 60px;
  text-align: center;
  border-bottom:3px solid black;
  margin :0px;
  padding:20px;
}
ol{
  border-right: 3px solid black;
  width: 100px;
  margin:0px;
  padding-left:30px;
  padding-top: 10px;
  text-decoration: :overline;
}

li{
  color:blue;
}
body{
  margin:0px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding: 20px;
}
@media(max-width:500px){
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom: none;
  }
}
